statsbombpy>=26.2.1
nbformat>=5.10
nbclient>=0.10
python-pptx>=1.0
pillow>=11.1
matplotlib>=3.9
numpy>=2.2
pandas>=2.2
mplsoccer>=1.4
requests>=2.32
scikit-learn>=1.5
adjustText>=1.3
dataframe_image>=0.2.7
